.header-wrapper {
  border-bottom: 1px solid var(--color-light_color);
}

.header-top {
  justify-content: space-between;
}

.header__logo {
  /*margin-right: 74px;*/
  padding-top: 31px;
  padding-bottom: 24px;
  padding-left: 5px;
}

/*.top-nav {*/
/*  transform: translate(-3px, 1px);*/
/*}*/

.top-nav__item:not(:last-child) {
  margin-right: 49px;
}

.top-nav__link {
  padding: 3px 5px;
  font-size: 20px;
  line-height: 20px;
}

.header-top__right {
  padding-right: 5px;
}

.search-form {
  margin-right: 24px;
}

.search-form__svg {
  transform: translateY(2px);
}

.login {
  padding: 10px 31px;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
  border-color: currentColor;
  background-color: transparent;
}

.header-bottom {
  justify-content: space-between;
}

.bottom-nav__item:not(:last-child) {
  margin-right: 43px;
}

.bottom-nav__link {
  padding: 3px 5px;
  line-height: 16px;
}

.air {
  padding-top: 10px;
  padding-bottom: 8px;
  transform: translateX(-5px);
}

.air__item {
  padding-left: 10px;
  width: 174px;
  border-left: 1px solid var(--color-light_color);
}

.air__item:last-child  {
  border-right: 1px solid var(--color-light_color);
}

.air__svg {
  width: 24px;
  height: 24px;
}

.air__svg circle {
  fill: var(--color-text_gray);
}

.air__svg path {
  fill: var(--color-white);
}

.air__info {
  padding-left: 8px;
}

.air__title {
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text_gray);
}

.air__descr {
  line-height: 16px;
}

.age {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 58px;
  transform: translateX(-5px);
  background-color: var(--color-light_color);
}

.age:before {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background-color: var(--color-white);
}

.age__text {
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-text_gray);
}
