.podcasts {
  background-color:  #f2f2f2;
}

.podcasts-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.podcasts__title {
  margin-bottom: 30px;
}

.podcasts__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 60px;
}

.podcasts-card {
  display: flex;
  background-color: var(--color-white);
}

.podcasts-card__left {
  position: relative;
  max-height: 140px;
}

.event-card__img {
  max-width: 112px;
}

.event-card__date {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 3px 8px;
  font-size: 10px;
  line-height: 10px;
  background-color: var(--color-light_color);
}

.podcasts__right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.podcast__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.podcasts-info__time {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 12px;
}

.podcasts-info__title {
  margin-bottom: 2px;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}

.podcasts-info__author {
  font-size: 16px;
  line-height: 16px;
  color: var(--color-text_gray);
}

.podcasts-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.actions__list {
  display: flex;
  align-items: center;
  padding-left: 27px;
  border-top: 1px solid var(--color-light_color);
}

.actions__item {
  padding: 4px 0;
}

.actions__item:not(:last-child) {
  margin-right: 28px;
}
.actions__btn {
  /*display: flex;*/
  /*align-items: center;*/
  padding: 3px 3px;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-text_gray);
}

.actions__btn svg {
  /*margin-right: 6px;*/
}

.podcasts__btn {
  display: block;
  margin: 0 auto;
  padding: 24px 53px;
  color: var(--color-primary);
  border-color: currentColor;
  background-color: transparent;
}