.us {
  background-color: var(--color-black);
  color: var(--color-white);
}

.us__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.us-top {
  display: flex;
  margin-bottom: 26px;
}

.us-top svg:first-of-type {
  margin-right: 30px;
}

.us__title {
  margin-bottom: 9px;
  color: var(--color-white);
}

.us__info {
  /*margin-bottom: 30px;*/
  margin-right: 30px;
  max-width: 634px;
  font-size: 20px;
  line-height: 160%;
  color: var(--color-text_gray);
}

.us__info--alert {
  display: inline-block;
  margin-bottom: 9px;
  font-weight: 700;
  line-height: 150%;
}

.use-info_img-1 {
  transform: translateY(-4px);
}

.use-info_img-2 {
  transform: translateY(16px);
}

.us__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
}

.us-card__img {
  margin-bottom: 28px;
}

.us-card__name {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.us-card__info {
  line-height: 24px;
  color: var(--color-text_gray);
}

.us-feedback__fieldset {
  max-width: 920px;
}

/*.us-feedback__label {*/
/*  width: 100%;*/
/*}*/

.us-feedback__textarea {
  margin-bottom: 24px;
  padding: 30px;
  width: 100%;
  height: 150px;
  resize: none;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  background-color: transparent;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-text_gray);
}

.us-feedback__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 30px;
}

/*.us-feedback__label {*/
/*  width: 100%;*/
/*}*/

.us-feedback__input {
  padding-left: 32px;
  width: 100%;
  height: 70px;
  border: 1px solid var(--color-white);
  border-radius: 40px;
  background-color: transparent;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-text_gray);
}

.us-feedback__btn {
  display: block;
  margin-bottom: 31px;
  padding: 23px 52px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.us-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.us-checkbox__text {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  transition: color 0.3s ease-in-out;
}

.us-checkbox__input:checked + .us-checkbox__text {
  color: var(--color-white);
}

.us-checkbox__text::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-white);
  transition: border-color 0.3s ease-in-out;
}

.us-checkbox__input:checked + .us-checkbox__text:before {
  border-color: var(--color-white);
}

.us-checkbox__text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  width: 5px;
  height: 9px;
  /*border-radius: 100%;*/
  /*border-top: 2px solid var(--color-white);*/
  border-bottom: 2px solid var(--color-primary_light);
  /*border-left: 2px solid var(--color-white);*/
  border-right: 2px solid var(--color-primary_light);
  background-color: transparent;
  opacity: 0;
  transform: translateY(-67%) rotate(45deg);
  transition: opacity 0.3s ease-in-out;
}

.us-checkbox__input:checked + .us-checkbox__text:after {
  opacity: 1;
}

.us-checkbox__input:focus-visible + .us-checkbox__text {
  color: var(--color-promo);
}